<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <a href="/" class="btn btn-secondary">Inicio</a>
        <h1 class="text-center">Lista de Tareas</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody id="task-list">
                <!-- TASK_ROWS -->
            </tbody>
        </table>
        <div class="container d-flex justify-content-between">
            <a class="btn btn-primary" href="." role="button"><</a>
            <a class="btn btn-primary" href="." role="button">></a>
        </div>
    </div>
</body>
</html>
